<strong>Olá, {{ student }}</strong>
<p>A nossa equipe acabou de responder sua dúvida.</p>
<p>
	<strong>Essa foi a sua pergunta: </strong>{{ question }}<br />
	<strong>Resposta: </strong>{{ answer }}
</p>
